*~
*.aux
*.bak
*.cfg
*.config
*.csv
*.dot
*.hprof
*.iml
*.log
*.nupkg
*.o
*.obj
*.orig
*.pyc
*.rej
*.swn
*.swo
*.swp
*.zip
.DS_Store
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea
.metadata/
.project
.settings/
build/
clibraries/
llvm-*.src/
svmbuild/
target/
test-suite-*.src/
core.*
env
bench-results.json
hs_err_pid*.log
jmh_result.json
*.src.tar.xz
workingsets.xml
MODULE.bazel.lock

# bazel specific
MODULE.bazel.lock
bazel-*/

# project specific
*_LOCAL/
*_LOCAL.md
*_LOCAL.txt
